@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  font-family: Rubik;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div, span, input {
  color: theme('colors.app-black')
}


.text-title {
  @apply text-sm font-semibold text-app-grey;
}

::-webkit-scrollbar {
  /* Customize the scrollbar width */
  height: 0.5rem;
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  /* Customize the scrollbar track */
  box-shadow: inset 0 0 2px rgb(194, 194, 194);
border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
  background: rgb(194, 194, 194);
  border-radius: 1rem;
  height: 0.5rem;
  width: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  /* Customize the scrollbar thumb */
  background: rgb(127,127,127);
  border-radius: 1rem;
}

@layer components {
  .scrollbar-horizontal {

  }
  .scrollbar-horizontal::-webkit-scrollbar {
    /* Customize the scrollbar width */
    height: 0.5rem;
    width: 0.5rem;
  }
  
  .scrollbar-horizontal::-webkit-scrollbar-track {
    /* Customize the scrollbar track */
    box-shadow: inset 0 0 2px rgb(194, 194, 194);
  border-radius: 1rem;
  }
  
  .scrollbar-horizontal::-webkit-scrollbar-thumb {
    /* Customize the scrollbar thumb */
    background: rgb(194, 194, 194);
    border-radius: 1rem;
    height: 0.5rem;
    width: 0.5rem;
  }
  .scrollbar-horizontal::-webkit-scrollbar-thumb:hover {
    /* Customize the scrollbar thumb */
    background: rgb(127,127,127);
    border-radius: 1rem;
  }
}

.scrollbar-horizontal {
  @apply transition
}

/* 'fill:none;stroke:#000;stroke-linecap:square;stroke-miterlimit:10;stroke-width:32px' */

.svg-reload {
fill: none;
stroke: theme('colors.app-black');
stroke-linecap: square;
stroke-miterlimit: 10;
stroke-width: 32px;
}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% {  transform: rotate(359deg); }
}
#spin {
  animation: spin 2s linear infinite;
}